.historybox
    background: #FCFCFD
    font-size: 16px

.historybox:hover
    background: rgba(245, 249, 255, 1)

.selecthistory
    ::ng-deep .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected
        background: rgba(245, 249, 255, 1)

    ::ng-deep .ant-menu-inline .ant-menu-item::after
        border: 0px

.code-block
    position: relative
    width: 100%

.conversation
    margin-bottom: 20px

.code-snippet
    background-color: #f4f4f4
    padding: 10px
    border-radius: 5px
    overflow-x: auto
    font-size: 14px
    line-height: 1.5

pre
    margin: 0

.explanation
    margin-top: 20px

.box-chat
    width: 100%
    display: flex

.box-user
    width: 100%
    display: flex
    justify-content: flex-end

.box-model
    width: 100%
    display: flex
    justify-content: flex-start

.user
    background-color: rgba(245, 249, 255, 1)
    border-radius: 20px
    padding: 15px
    display: flex
    justify-content: flex-end
    width: max-content
    height: max-content
    margin: 10px

.model
    background-color: #FCFCFD
    border-radius: 20px
    padding: 15px
    display: flex
    justify-content: flex-start
    width: max-content
    height: max-content
    margin: 10px

.modelmessage
    ::ng-deep  p
        margin-bottom: 0px
